In [1]:
import sqlite3

In [2]:
connection=sqlite3.connect('example.db')
connection

In [3]:
cursor=connection.cursor()

In [5]:
cursor.execute('''
Create Table if not exists employees(
id integer primary key,
name text not null,
age integer,
department text)
''')

connection.commit()

In [6]:
cursor.execute('''
select * from employees
''')

In [7]:
cursor.execute('''
insert into employees(name,age,department)
values("salman",25,'data scientist')
''')

In [8]:
cursor.execute('''
insert into employees(name,age,department)
values("bob",25,'data scientist')
''')

In [9]:
cursor.execute('''
insert into employees(name,age,department)
values("akhtar",25,'data scientist')
''')

In [10]:
connection.commit()

In [ ]:
cursor.execute('Select * from employees')

row=cursor.fetchall()

In [15]:
for row in row:
    print(row)

(1, 'salman', 25, 'data scientist')
(2, 'bob', 25, 'data scientist')
(3, 'akhtar', 25, 'data scientist')

In [17]:
cursor.execute('''
update employees
set age=26 
where name='bob'
''')

In [18]:
connection.commit()

In [19]:
cursor.execute('Select * from employees')

row=cursor.fetchall()
for row in row:
    print(row)

(1, 'salman', 25, 'data scientist')
(2, 'bob', 26, 'data scientist')
(3, 'akhtar', 25, 'data scientist')

In [20]:
## Delete the data from the table
cursor.execute('''
Delete from employees
               where name ='Bob'
''')

connection.commit()

In [21]:
cursor.execute('Select * from employees')

row=cursor.fetchall()
for row in row:
    print(row)

(1, 'salman', 25, 'data scientist')
(2, 'bob', 26, 'data scientist')
(3, 'akhtar', 25, 'data scientist')

In [22]:
connection=sqlite3.connect("sales_data.db")
cursor=connection.cursor()

In [24]:
cursor.execute('''
create table if not exists sales(
     id integer primary key,
     date text not null,
     product text not null,
     sales integer,
     region text
)
''')

sales_data = [
    ('2023-01-01', 'Product1', 100, 'North'),
    ('2023-01-02', 'Product2', 200, 'South'),
    ('2023-01-03', 'Product1', 150, 'East'),
    ('2023-01-04', 'Product3', 250, 'West'),
    ('2023-01-05', 'Product2', 300, 'North')
]

cursor.executemany('''
insert into sales(date,product,sales,region)
values(?,?,?,?)
''',sales_data)
connection.commit()

In [25]:
cursor.execute('select * from sales')
rows=cursor.fetchall()

for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')

In [26]:
connection.close()