In [1]:
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [3]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [5]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [6]:
list([1,2,3,4,5,6])

[1, 2, 3, 4, 5, 6]

In [7]:
mixed_tuple=(1,"Hello World",3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [8]:
numbers

(1, 2, 3, 4, 5, 6)

In [9]:
print(numbers[2])
print(numbers[-1])

3
6

In [10]:
numbers[0:4]

(1, 2, 3, 4)

In [11]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [12]:
concat=numbers+mixed_tuple
print(concat)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [13]:
mixed_tuple*3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [14]:
lst=[1,2,3,4,5]
print(lst)
lst[1]="salman"
print(lst)

[1, 2, 3, 4, 5]
[1, 'salman', 3, 4, 5]

In [15]:
numbers[1]="salman"

TypeError: 'tuple' object does not support item assignment

In [16]:
numbers

(1, 2, 3, 4, 5, 6)

In [17]:
packed_tuple=1,"hello",3.14
print(packed_tuple)

(1, 'hello', 3.14)

In [19]:
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
hello
3.14

In [21]:
first, *middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [22]:
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [23]:
lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
lst[2][0:3]

(1, 'Hello', 3.14)

In [26]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))
print(nested_tuple[0][1])

2

In [27]:
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False