In [2]:
empty_dict={}
print(type(empty_dict))

<class 'dict'>

In [3]:
empty_dict=dict()
empty_dict

{}

In [4]:
student={"name":"salman","age":"25","grade":24}
print(student)
print(type(student))

{'name': 'salman', 'age': '25', 'grade': 24}
<class 'dict'>

In [5]:
student={"name":"salman","age":"25","name":24}
print(student)

{'name': 24, 'age': '25'}

In [6]:
student={"name":"salman","age":"25","grade":24}
print(student)

{'name': 'salman', 'age': '25', 'grade': 24}

In [7]:
print(student["name"])
print(student.get("grade"))
print(student.get("last_name"))
print(student.get("last_name","not available"))

salman
24
None
not available

In [8]:
student["age"]=26
print(student)
student["address"]="india"
print(student)

{'name': 'salman', 'age': 26, 'grade': 24}
{'name': 'salman', 'age': 26, 'grade': 24, 'address': 'india'}

In [9]:
del student["grade"]
print(student)

{'name': 'salman', 'age': 26, 'address': 'india'}

In [10]:
keys=student.keys()
print(keys)
values=student.values()
print(values)
items=student.items()
print(items)

dict_keys(['name', 'age', 'address'])
dict_values(['salman', 26, 'india'])
dict_items([('name', 'salman'), ('age', 26), ('address', 'india')])

In [11]:
student_copy=student
student_copy

{'name': 'salman', 'age': 26, 'address': 'india'}

In [12]:
student["name"]="akhtar"
print(student)
print(student_copy)

{'name': 'akhtar', 'age': 26, 'address': 'india'}
{'name': 'akhtar', 'age': 26, 'address': 'india'}

In [13]:
student_copy1=student.copy()
print(student_copy1)

{'name': 'akhtar', 'age': 26, 'address': 'india'}

In [14]:
student["name"]="salman"
print(student_copy1)
print(student)

{'name': 'akhtar', 'age': 26, 'address': 'india'}
{'name': 'salman', 'age': 26, 'address': 'india'}

In [15]:
for keys in student.keys():
    print(keys)

name
age
address

In [16]:
for value in student.values():
    print(value)

salman
26
india

In [17]:
for key,value in student.items():
    print(f"{key}: {value}")

name: salman
age: 26
address: india

In [18]:
students={
    "student1":{"name":"salman","age":25},
    "student2":{"name":"akhtar","age":25}
}
print(students)

{'student1': {'name': 'salman', 'age': 25}, 'student2': {'name': 'akhtar', 'age': 25}}

In [19]:
print(students["student2"]["name"])

akhtar

In [21]:
students.items()

dict_items([('student1', {'name': 'salman', 'age': 25}), ('student2', {'name': 'akhtar', 'age': 25})])

In [23]:
for id,info in students.items():
    print(f"{id}: {info}")
    for key, value in info.items():
        print(f"{key}: {value}")

student1: {'name': 'salman', 'age': 25}
name: salman
age: 25
student2: {'name': 'akhtar', 'age': 25}
name: akhtar
age: 25

In [24]:
squares={x:x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [26]:
evens={x: True for x in range(10) if x%2==0}
print(evens)

{0: True, 2: True, 4: True, 6: True, 8: True}

In [28]:
numbers=[1,2,2,3,3,3,4,4,4,4]
frequency={}

for number in numbers:
    if number in frequency:
        frequency[number]+=1
    else:
        frequency[number]=1
frequency

{1: 1, 2: 2, 3: 3, 4: 4}

In [30]:
dict1={"a":1,"b":2}
dict2={"b":3,"c":4}
merged_dict={**dict1,**dict2}
merged_dict

{'a': 1, 'b': 3, 'c': 4}