In [1]:
a=100

In [2]:
age=25
height=5.8
name="salman"
is_student=True

print(age)
print(height)
print(name)

25
5.8
salman

In [3]:
first_name="salman"
last_name="akhtar"

In [4]:
# Invalid variable names
#2age=30
#first-name="Krish"
##@name="Krish"

In [5]:
name="salman"
Name="akhtar"

In [6]:
age=25
height=5.8
name="salman"
is_student=True

print(type(name))

<class 'str'>

In [7]:
print(type(height))

<class 'float'>

In [8]:
name="salman"
int(name)

ValueError: invalid literal for int() with base 10: 'salman'

In [9]:
height=5.8
type(height)

float

In [10]:
float(int(height))

5.0

In [12]:
var=10
print(var,type(var))

var="hello"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
hello <class 'str'>
3.14 <class 'float'>

In [13]:
age=int(input("what is your age"))
print(age,type(age))

25 <class 'int'>

In [16]:
num1=float(input("enter first number: "))
num2=float(input("enter second number: "))

sum=num1+num2
difference=num1-num2
product=num1*num2
qoutient= num1/num2

print(sum)
print(difference)
print(product)
print(qoutient)

7.0
1.0
12.0
1.3333333333333333