In [1]:
age=25
type(age)

int

In [2]:
height=5.8
print(type(height))

<class 'float'>

In [3]:
name="salman"
print(type(name))

<class 'str'>

In [4]:
istrue=True
print(istrue)

True

In [5]:
a=10
b=10
type(a==b)

bool

In [6]:
result="hello"+5

TypeError: can only concatenate str (not "int") to str

In [8]:
result="hello"+ str(5)
print(result)

hello5